body{
    background-color: rgb(32, 29, 29); /*a tag background color serve para darmos uma cor de fundo */
}
*{
    padding: 0; /*define uma a distância entre o conteúdo de um elemento e suas bordas*/
    margin: 0; /*adiciona uma margem ao seu elemento.*/
    box-sizing: border-box; /*box-sizing serve para alterar a propriedade padrão da box model,
                              usada para calcular larguras e alturas*/
}
header{
    width: 100%; /*define a largura da área de conteúdo de um elemento*/
    background-color: rgb(58, 57, 58);
    display: flex; /*display flex é utilizado para organizar os elementos HTML de forma responsiva.*/
    justify-content: space-around; /*a tag justify usada para alinhar os elementos ao longo do eixo principal*/
    align-items: center; /*a tag alling-items serve para alinhar itens*/
    padding: 20px 0;  /*define uma a distância entre o conteúdo de um elemento e suas bordas*/

}
.logo{
    width: 75px; /*define a largura da área de conteúdo de um elemento*/
    margin: 0%; /*adiciona uma margem ao seu elemento.*/
}
.logo-text{
    margin-left: 20px; /*serve para dar expessura a area da margem*/
    color: black; /*serve para dar cor*/
    margin: 0%; /*adiciona uma margem ao seu elemento.*/
}
.menu li{
    display: inline-block; /* a tag display define os tipos de exibição internos e externos de um elemento.*/
    margin: 0 0px;  /*adiciona uma margem ao seu elemento.*/
    border: solid rgb(241, 239, 239) 2px; /*adicionar uma borda a pagina*/
}
.menu li a{
    font-size: 24px; /* estabelece o tamanho da fonte.*/
    text-decoration: none; /*decoracao usada na fonte para um texto de elementos*/
    color: rgb(250, 245, 245);  /*adicona cor*/ 
    text-transform: uppercase;/*especifica como capitalizar um texto de um elemento.*/ 
    padding: 10PX 25px; /*define uma a distância entre o conteúdo de um elemento e suas bordas*/
    border-radius: 10px; /* adiciona bordas arredondadas*/
}
.menu li a:hover{ /*o hover possibilita um elemento ter o seu estilo alterado através da ação 
    do usuário, quando o próprio passa o cursor do mouse sobre o elemento.*/
    background-color: rgba(100, 100, 100, 0.8); /*adiciona cor de fundo*/
}
.borda{
    margin: 100px 150px;  /*adiciona uma margem ao seu elemento.*/
    padding: 5em 15em 5em;/*define uma a distância entre o conteúdo de um elemento e suas bordas*/
    border: 6px solid black; /*adicionar uma borda a pagina*/
    font-family: system-ui; /*permite que se faça uma lista de prioridades de familias de fontes
     e/ou nomes genéricos de famílias a serem especificados para um elemento selecionado. */
    background-color: rgb(250, 250, 250); /*adiona uma cor de fundo*/
    align-items: center; /*alinha itens*/
    justify-content: space-around; /*a tag justify usada para alinhar os elementos ao longo do eixo principal*/
}
footer{
    background-color: rgb(58, 57, 58); /*adiona uma cor de fundo*/
    width: 100%; /*define a largura da área de conteúdo de um elemento*/
    padding: 10px; /*define uma a distância entre o conteúdo de um elemento e suas bordas*/
    display: flex;  /*display flex é utilizado para organizar os elementos HTML de forma responsiva.*/
    justify-content: center;  /*a tag justify usada para alinhar os elementos ao longo do eixo principal*/
    align-items: center;
    color: black;
    box-sizing: border-box; /*box-sizing serve para alterar a propriedade padrão da box model,
    usada para calcular larguras e alturas*/
}
.section-class{
    margin: 100px 150px;  /*adiciona uma margem ao seu elemento.*/
    padding: 5em 15em 5em;  /*define uma a distância entre o conteúdo de um elemento e suas bordas*/
    border: 6px solid ; /*adiciona borda*/
    border-radius: 20px;  /* adiciona bordas arredondadas*/
    font-family: system-ui;  /*permite que se faça uma lista de prioridades de familias de fontes
    e/ou nomes genéricos de famílias a serem especificados para um elemento selecionado. */
    background-color: rgb(94, 94, 94);
    align-items: center;
    justify-content: space-around;/*a tag justify usada para alinhar os elementos ao longo do eixo principal*/
}
.lenda{
    color: white;
}

.foot{
    color: white;
}
.marquee{
    color: white;
}
.lendas{
    color: white;
}
.corpo{
    text-align: center; 
}
.spinner .is-animating{
    animation: loanding 2s linear infinite; /*a tag animation serve basicamente para animar outras propriedades CSS.*/
 }
.gif{
     width: 80%; /*define a largura da área de conteúdo de um elemento*/
     height: auto; /*define a altura da área de conteúdo de um elemento*/
}
.logo{
    width: 150px;/*define a largura da área de conteúdo de um elemento*/
}
.titu{
    background: rgb(250, 250, 250); /*adiciona cor de fundo*/
    width: 300px; /*define a largura da área de conteúdo de um elemento*/
    height: 50px;/*define a altura da área de conteúdo de um elemento*/
    text-align: center; /*alinhar textos no centro*/
}
.titu :hover{
    opacity: 0.8; /*especifica a transparência de um elemento*/
    transform: scale(1.5); /* permite modificar o espaço coordenado do modelo de formatação CSS.*/
}
.okiku{
    width: 400px;/*define a largura da área de conteúdo de um elemento*/
}
.keniel{
    cursor: pointer; /*muda a aparencia do cursor do mouse*/
    background-color: rgb(77, 74, 74); /*adiciona cor de fundo*/
}
img{
    width: 120%;
     height: auto;
     transition: all .5s;
    border: 10px solid #eeeeee;

 }
 .img:hover{
    border: 10px solid #781f40;
    -webkit-filter: drop-shadow(15px 7px 1px rgba(0,0,0,.5));
    filter: drop-shadow(15px 7px 1px rgba(0,0,0,.5));
    -webkit-transform: rotateZ(-360deg) scale(1.5);
    transform: rotateZ(-360deg) scale(1.5);
}